<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Load Front End Frameworks! -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	  <div class='container-fluid'>
		<nav class='teal'>
			<div class="nav-wrapper">
			  <a href="/" class="brand-logo">User Auth 3000</a>
				  <ul id="nav-mobile" class="right hide-on-med-and-down">
				    <li><a href="/edit">Edit Account</a></li>
				    <li><a href="/logout">Logout</a></li>
				  </ul>
			</div>
		</nav>

		<div class='main-content'>
		    <h3><%= title %></h3>
		    <b>Welcome Back: <%= user.first_name %></b>
	    </div>

	    <div class='row'>
		    <div class='all-users col s10 align center'>
		    	<h3>Awesome Users</h3>
		    	<hr><br>

			      <table>
			        <thead>
			          <tr>
			              <th>First Name</th>
			              <th>Last Name</th>
			              <th>Email</th>
			              <th>Country</th>
			              <th>State</th>
			              <th>City</th>
			          </tr>
			        </thead>

			        <tbody>
			        <% users.forEach(function(thisUser) { %>
			          <tr>
			          	<% if (thisUser.email === user.email)  { %>
				            <td style='color: teal;'><%= thisUser.first_name %></td>
				            <td style='color: teal;'><%= thisUser.last_name %></td>
				            <td style='color: teal;'><%= thisUser.email %></td>
				            <td style='color: teal;'><%= thisUser.country %></td>
				            <td style='color: teal;'><%= thisUser.state %></td>
				            <td style='color: teal;'><%= thisUser.city %></td>
				            <td><a href='/edit' style='color: teal;'><i class="material-icons">edit</i></a></td>
			            <% } else { %>
				            <td><%= thisUser.first_name %></td>
				            <td><%= thisUser.last_name %></td>
				            <td><%= thisUser.email %></td>
				            <td><%= thisUser.country %></td>
				            <td><%= thisUser.state %></td>
				            <td><%= thisUser.city %></td>
			            <% } %>
			          </tr>
			          <% }); %>
			        </tbody>
			      </table>
		    </div>
	    </div>

	   </div>

  </body>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</html>
